@import '~antd/dist/antd.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}

.search-box{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

/* logo部分 */
img#logo {
  width: 50%;
}

img#logo:hover {
  transform: rotate(-2deg) scale(1.06);
  cursor: pointer;
}

/* 输入框 */
.input-box{
  margin-top: 30px;
  width: 70%;
}

/* 导航部分 */
.nav-box{
  width: 60%;
  height: 600px;
  position: relative;
  border: 1px solid rgba(0,0,0,0.2);
}

/* 导航菜单部分 */
.menu{
  width: 6em;
  height: 100%;
  background-color: rgba(0, 175, 236, 0.8);
  position: absolute;
  text-align: center;
  font-size: 1.6rem;
  color: white;
  list-style: none;
}

.menu li {
  height: 2.5em;
  line-height: 2.5em;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.menu li:hover {
  color: green;
}

.items {
  margin-left: 9em;
  margin-right: 3em;
  margin-top: 2em;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 3em;
  font-size: 1.6rem;
}

.items li{
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(255,255,255,0.5);
}

.items li:hover {
  cursor: pointer;
  background-color: rgba(0, 175, 236, 0.8);
}