@import '~antd/dist/antd.css';

/* 设置背景 */
body {
  background-color: rgba(242, 244, 245);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 设置github头像 */
.github {
  margin-top: 2rem;
  margin-right: 2rem;
  position: fixed;
  width: 100%;
  text-align: right;
  padding-right: 2rem;
}

.github a svg {
  width: 5rem;
}

.logo {
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
}

/* logo部分 */
img#logo {
  width: 70%;
}

img#logo:hover {
  transform: rotate(-2deg) scale(1.02);
  cursor: pointer;
}

/* 输入框
.search-input {
  margin-top: 3rem;
  width: 90%;
  height: 3em;
  padding-left: 1em;
  outline: none;
  border: 1px solid;
  border-radius: 5%;
} */

/* 搜索提示的列表 */
/* .search-box ul {
  width: 76%;
  background-color: white;
  position: absolute;
  left: 6em;
  text-align: left;
  padding-left: 2px;
  z-index: 1;
} */

/* .search-box ul a li {
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 2.4em;
  line-height: 2.4em;
  color: rgba(0, 0, 0, 0.65);
} */

/* .search-box ul a li:hover {
  background-color: rgba(33, 33, 33, 0.1);
} */

/* 导航部分, 分为导航菜单和站点列表两个部分 */
.nav-box{
  width: 60%;
  background-color: rgba(255, 255, 255, 0.1);
}

/* 导航菜单部分 */
.menu {
  width: 100%;
  height: 3.2em;
  background-color: rgba(0, 102, 153, 0.8);
  text-align: center;
  font-size: 1.6rem;
  color: white;
  list-style: none;
}

.menu ul li {
  width: 6em;
  display: inline-block;
  line-height: 3.2em;
  cursor: pointer;
  border-right: 1px solid rgba(0,0,0,0.1);
  position: relative;
}

.menu ul li:first-child {
  border-left: 1px solid rgba(0,0,0,0.1);
}

.menu ul li:hover {
  background-color: rgb(0, 102, 204);
}

/* 站点列表 */
.items {
  padding-left: 4em;
  padding-bottom: 1.4em;
  min-height: 19em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

/* 清除a标签的默认样式 */
.items a {
  color: white;
  text-decoration: none;
  margin-top: 1.4em;
  margin-right: 4em;
}

.items a li{
  width: 12rem;
  height: 3em;
  line-height: 3em;
  text-align: center;
  border-radius: 15%;
  background-color: rgba(0, 153, 204, 0.8);
}

.items a li:hover {
  cursor: pointer;
  background-color: rgb(0, 102, 204);
}